Pods/Pods.xcodeproj/xcuserdata/fabien.xcuserdatad/xcschemes/Alamofire.xcscheme
Pods/Pods.xcodeproj/xcuserdata/fabien.xcuserdatad/xcschemes/HCYoutubeParser.xcscheme
XebiaTV.xcodeproj/xcuserdata/fabien.xcuserdatad/xcschemes/XebiaTV.xcscheme
