//
//  Debug.xcconfig
//  XebiaTV
//
//  Created by Fabien Mirault on 15/12/2015.
//  Copyright © 2015 Xebia. All rights reserved.
//

#include "Pods/Target Support Files/Pods/Pods.debug.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) -DDEBUG
PRODUCT_IDENTIFIER = fr.xebia.xebiatvdebug
PRODUCT_NAME = Xebia TV Debug